<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Framer Title</title>
    <!-- Add your stylesheets and other head elements here -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <div id="title">
            <img src="/images/key.jpg" alt="icon" id="icon">
            <h1 id="name">Framers Title Company</h1>
        </div>
        
        <ul>
            
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Header with Photo -->
    <header>
        <div class="header-content">
            
            <img src="/images/banner.jpg" alt="banner Photo">
        </div>
    </header>



<div>
 {{{ body }}}

</div>







    <!-- Footer -->

    <!-- Add your scripts and other body elements here -->

</body>

</html>
