<div id="about">
<h1>Raya's Bio</h1>
<img src="/images/raya.jpg">
<p>
    As a account executive at Framers Title Insurance, Raya is dedicated to provide support and assistance to real estate agents, brokers, and lenders throughout the title process. Her goal is to ensure a smooth and efficient closing process for all parties. Raya received her Master's in Business Administration with an emphasis in marketing. She brings over 20 years of experience in the implementing strategic marketing plans across various channels, including print media, telemarketing, and digital advertising to drive brand awareness and achieve business objectives. During her time off, Raya finds great joy in engaging in outdoor activities and sharing her passion for yoga and Pilates.
</p>
</div>